@{
    Layout = "_Layout";
}

@Html.Partial("_Header")
<div class="container">
    <h3>Welcome</h3>
    <p>
        Welcome to the <b>Wackypedia</b>...where you can find information sometimes and laughs often. At Wackypedia, we
        appreciate good sources of information but prefer good sources of humor.  Articles in the Wackypedia are created by you,
        the user. There are no rules for the content you decide to add to our wacky wiki.  In fact, the only rule we would even
        consider endorsing is that you must have fun!!  So, leave your good grammar at the door and put on your best soliloquy for
        others to hear. Wacky wonders await you!
    </p>
</div>