<div class="container">
    <h1>Wackypedia</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/articles">View All Articles</a></li>
        <li role="presentation" class="active"><a href="/articles/new">Add New Article</a></li>
        <li>
            <div id="searchBar">
                <div>
                    <form action="/articles/search" method="post">
                        <input id="searchString" type="text" name="searchString" />
                        <button style="color: #424242">Search</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>